.title {
  width: 500px;
  margin: 0 auto 30px;
}
.form {
  width: 500px;
  padding: 20px;
  margin: 0 auto 50px;
  border: 1px solid #000;
}

.input {
  display: block;
  margin-bottom: 30px;
}

.contsctList {
  width: 500px;
  margin: 0 auto 50px;
}
